.content_graphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 76%;
  min-height: min-content;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px;
  padding: 2rem;
  box-shadow: #cccccc 0px 1px 3px, #cccccc 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
.content_graphs_graph {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: min-content;
  height: 100%;
}
.card_container {
  width: 429.91px;
  height: 202.96px;
  border-radius: 10px;
  background: #f2f2f2;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.card_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.4rem;
  color: #707070;
  padding: 12px 0;
  &_femra, &_meshkuj {
    display: flex;
    flex-direction: row;
  }
  &_femra {
    &__progress {
      flex: 1;
    }
  }
}
.legend {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  color: #707070;
  padding-top: 10px;
  margin-top: auto;
  &_item {
    width: 82px;
    height: 18px;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    &__icon {
      margin-right: 10px;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      background: #ddb40a;
    }
  }
}
@media (max-width:500px) {
  .content_graphs{
   width: 100%;
  }
}

.exclude {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 100%;
  margin: 5px;
  padding: 3rem 0;

  &_item {
    width: 16%;
  }
}

@media (max-width:1000px) and (min-width: 500px) {
  .exclude {
    display: flex;
    flex-wrap: wrap;
    &_item{
      width: 50%;
      box-sizing: border-box;
    }
  }
}
@media (max-width:1277px) and (min-width: 1000px) {
  .exclude {
    display: flex;
    flex-wrap: wrap;
    &_item{
      width: 25%;
      box-sizing: border-box;
    }
  }
}

@media (max-width:500px) {
  .exclude {
    display: flex;
    flex-direction: column;
    &_item{
      width: 100%;
    }
  }
}