.menu_container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    color: #005293;
    padding-bottom: 4px;
    font-size: 1.4rem;
    padding-left: 10px;
  }

  &__list {
    width: 100%;
  } & img {
    height: 22px;
  }
}
