.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    .content {
        height: 70%;
        display: flex;
        flex-direction: row;
        padding: 3rem 5rem;

        &_selects {
            width: 20%;
            height: 100%;
            background-color: #ddd;
        }
        &_graphs {
            width: 80%;
            height: 100%;
        }
    }
}