.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  .content {
    width: 100%;
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }
}
.drawerButton {
  width: 129px;
  height: 50px;
  border-radius: 3px;
  border: 2px solid #00517d;
  background-color: white;
  color: #00517d;
  margin: 25px 12px;
}
@media (min-width: 501px) {
  .sideDrawerFilter {
    display: none;
  }
  .drawerButton {
    display: none;
  }
}
@media (max-width: 500px) {
  .mainFilters {
    display: none;
  }
}
@media (min-width: 500px) {
  .mainFilters {
    padding-top: 0;
    width: 23%;
  }
}
