header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #005293;
  padding:2rem;

  img {
      width: 18.8rem;
  }
  .language {
     color: #fff;
     font-size: 1.4rem;
     cursor: pointer;

     .active {
         color: #DDB40A
     }
  }
}