footer {
  align-items: flex-end;
  height: 20%;

  .main {
    height: 80%;
    padding-top: 2rem;
    background-color: red;
    background-color: #005293;

    &_first {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &__info {
        &__address {
          margin-bottom: 1rem;
        }
        font-size: 1.8rem;
        line-height: 1.2;
        color: #fff;
        margin-right: 10rem;
      }
    }

    .copyright {
      font-size: 1.4rem;
      color: #fff;
      text-align: center;
    }

    img {
      width: 18.8rem;
      margin: 2rem;
      margin-left: 8rem;
  }
  }
  .collab {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #005490;

    &>img {
      height: 50%;
      margin-left: 1rem;
    }
  }
}
